@model Accelerated_Digital_Delivery_Coaching_Program.Models.ScrumMaster

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ScrumMaster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.PersonID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coaching)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coaching)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Velocity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Velocity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamHappiness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamHappiness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessEfficiency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessEfficiency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessValuePerStoryPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessValuePerStoryPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalImprovement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalImprovement)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ScrumMasterID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
