@model Accelerated_Digital_Delivery_Coaching_Program.Models.PatternAssessment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PatternAssessment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatternID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatternID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Implemented)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Implemented)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WithIntent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WithIntent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatingOfAssessment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatingOfAssessment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextAssessmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextAssessmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FollowUpCompleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FollowUpCompleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatternAssessmentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
