@model IEnumerable<Accelerated_Digital_Delivery_Coaching_Program.Models.PersonNote>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.PersonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonNoteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonNoteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonNoteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
