@model IEnumerable<Accelerated_Digital_Delivery_Coaching_Program.Models.OKR>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Objective)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Measure1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Measure2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Measure3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Measure4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Measure5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetricMeasure1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetricMeasure2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetricMeasure3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetricMeasure4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetricMeasure5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfidenceScoreMeasure1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfidenceScoreMeasure2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfidenceScoreMeasure3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfidenceScoreMeasure4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfidenceScoreMeasure5)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Objective)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measure1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measure2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measure3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measure4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measure5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetricMeasure1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetricMeasure2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetricMeasure3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetricMeasure4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetricMeasure5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfidenceScoreMeasure1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfidenceScoreMeasure2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfidenceScoreMeasure3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfidenceScoreMeasure4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfidenceScoreMeasure5)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OkrID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OkrID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OkrID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>
                Objective
            </th>
            <th>
                Measure
            </th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>

</table>