@model Accelerated_Digital_Delivery_Coaching_Program.Models.ProductBacklogItem

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductBacklogItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductBacklogItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductBacklogItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptanceCriteria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptanceCriteria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComparativePoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComparativePoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductBacklog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductBacklog.ProductBacklogID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductBacklogItemId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
