@model Accelerated_Digital_Delivery_Coaching_Program.Models.ProductBacklogItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductBacklogItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductBacklogItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductBacklogItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptanceCriteria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptanceCriteria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComparativePoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComparativePoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductBacklog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductBacklog.ProductBacklogID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductBacklogItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
