@model Accelerated_Digital_Delivery_Coaching_Program.Models.TeamOfTeamIteration

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TeamOfTeamIteration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamOfTeamIterationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamOfTeamIterationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StopDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StopDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramIncrement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramIncrement.ProgramIncrementID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YesterdaysWeather)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YesterdaysWeather)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TeamOfTeamIterationID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
