@model Accelerated_Digital_Delivery_Coaching_Program.Models.Epic

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Epic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EpicName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EpicName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerIdentifierID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerIdentifierID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedStoryPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedStoryPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualStoryPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualStoryPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamofTeamID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamofTeamID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EpicID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
