@model IEnumerable<Accelerated_Digital_Delivery_Coaching_Program.Models.Iteration>

@{
    ViewData["Title"] = "Iterations / Sprints";
}

<h1>Iterations / Sprints </h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IterationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StopDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommittedWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IterationGoal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IterationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StopDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommittedWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IterationGoal.Goal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IterationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IterationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IterationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
