@model Accelerated_Digital_Delivery_Coaching_Program.Models.PersonalAssessmentTemplate

@{
    ViewData["Title"] = "Delete";
    Layout = "_LayoutPersonalCoaching";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PersonalAssessmentTemplate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalAssessmentTemplateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalAssessmentTemplateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaOfCoaching)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaOfCoaching)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkToPDF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkToPDF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BriefDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BriefDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetailedDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetailedDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkToImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkToImage)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonalAssessmentTemplateID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
