@model IEnumerable<Accelerated_Digital_Delivery_Coaching_Program.Models.IterationGoal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Goal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specific)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Measurable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achievable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Realistic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timebound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiedToOKR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FistOfFive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Goal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specific)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measurable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achievable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Realistic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timebound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiedToOKR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FistOfFive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IterationGoalID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IterationGoalID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IterationGoalID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
